<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779413046336-t8lp098srkfpd4o41lcr82r6pg25itsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779413046336-t8lp098srkfpd4o41lcr82r6pg25itsk</string>
	<key>API_KEY</key>
	<string>AIzaSyBdDpQk7TFFJkVINwGJuq21-8VK8H3SNxs</string>
	<key>GCM_SENDER_ID</key>
	<string>779413046336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-f28ca</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-f28ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779413046336:ios:770b8669afc92aafe14ba5</string>
</dict>
</plist>